<div class="no-cover col-md-8" ng-controller="QuestionnaireController">


    <h1>Dodaj ankietę</h1>

    <div class="container">
        <div class="row">
            <div class="control-group" id="fields">
                <label class="control-label" for="field1">Pytanie</label>
                <div class="controls">
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th>Qestion text</th>
                            <th>remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="question in questionList">
                            <td>
                                name
                            </td>
                            <td>
                                {{question.name}}
                            </td>
                            <td>
                                <!--<input type="button"  ng-click="remove($index)">-->
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-add" type="button" ng-click="remove($index)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <form role="form" autocomplete="off">
                        <div class="entry input-group col-xs-3">
                            <input class="form-control" name="fields[]" type="text" placeholder="Type something"
                                   ng-model="questionnaire.question"/>
                            <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button" ng-click="addQuestion()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            </span>
                        </div>
                    </form>


                    <br>
                    <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another question :)</small>
                </div>
            </div>
        </div>
    </div>


</div>


<!--<table>-->
<!--<tr>-->
<!--<td>-->
<!--<div class="c-block">-->
<!--<h3 class="block-title">Add exercise to plan</h3>-->

<!--<div class="form-group">-->
<!--<div class="col-md-4">-->
<!--<div class="form-group">-->
<!--<label>Exercise</label>-->
<!--<select id="form-validation-field-0"-->
<!--data-placeholder="Select exercise..."-->
<!--class="tag-select-limited input-sm validate[required]"-->
<!--ng-model="excerciseId"-->
<!--ng-options="exercise as exercise.label for exercise in exercises track by exercise.label"-->
<!--&gt;-->
<!--<option value="" selected hidden/>-->
<!--&lt;!&ndash;<option ng-repeat="exercise in exercises">{{exercise.name}}</option>&ndash;&gt;-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-1"></div>-->
<!--<div class="col-md-3">-->
<!--<div class="form-group">-->
<!--<label>Repeats</label>-->
<!--<input type="number" class=" form-control" ng-model="repeat" size="3">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<div class="form-group">-->
<!--<label>Series</label>-->
<!--<input type="number" class=" form-control" ng-model="series" size="3">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-1">-->
<!--<label> </label>-->
<!--<input ng-disabled="" class="btn-primary" type="button" ng-click="addTraining()"-->
<!--value="Dodaj">-->
<!--</div>-->


<!--</div>-->

<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td style="position:relative; left: 40% ">-->
<!--<input class="btn-group-vertical btn-info btn-xs" type="submit"-->
<!--value="SEND">-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->

