body { padding: 50px 0; background-color: #f3f3f5; }
.clear {clear: both;}

/* Ogólne */
form fieldset {
  margin-bottom: 30px;
}
form h4 {
  margin-bottom: 20px;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #ededed;
}

/* Nawigacja */
.navbar-inverse {
    background-color: #4e5359;
    border-color: #555b61;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-text, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #42464b;
}

.navbar-inverse .navbar-nav>.open>a::before, .navbar-inverse .navbar-nav>.open>a:hover::before, .navbar-inverse .navbar-nav>.open>a:focus::before, .navbar-inverse .navbar-nav>li>a:hover::before, .navbar-inverse .navbar-nav>li>a:focus::before, .navbar-inverse .navbar-nav>.active>a::before, .navbar-inverse .navbar-nav>.active>a:hover::before, .navbar-inverse .navbar-nav>.active>a:focus::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #a9c056;
}

.navbar-form {
  margin-top: 10px;
  margin-bottom: 10px; 
}
.navbar-form > div {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav>.open>a::before, .navbar-inverse .navbar-nav>.open>a:hover::before, .navbar-inverse .navbar-nav>.open>a:focus::before, .navbar-inverse .navbar-nav>li>a:hover::before, .navbar-inverse .navbar-nav>li>a:focus::before, .navbar-inverse .navbar-nav>.active>a::before, .navbar-inverse .navbar-nav>.active>a:hover::before, .navbar-inverse .navbar-nav>.active>a:focus::before {
    bottom: -2px;
    width: 100%;
    height: 3px;
  }
  .navbar-form > div {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #f3f3f5
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
    position: relative;
    color: #fff;
    background-color: #42464b;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover::before, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus::before, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a::before, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover::before, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #a9c056;
  }
}
/* Cover */
.cover {
  display: table;
  width: 100%;
  min-height: 500px;

  background-image: url('../../img/cover-grey.png'), url('../../img/cover.jpg');
  background-position: center, center;
  background-size: auto, cover;
}
.cover > .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.cover > .container > h2 {
  color: #fff;
}

/* Treść */
#main-content {
  margin-left: 10px;
  margin-right: 10px;
}
#main-content.no-cover {
  padding-top: 30px;
}
#main-content > h1 {
  margin-bottom: 20px;
}

/* New product */
#productDescription {
  height: 182px;
  resize: none;
}

/* Caegory */
table>thead>tr>th:first-child, table>tbody>tr>td:first-child {
  padding-left: 16px;
}

table>thead>tr>th:last-child, table>tbody>tr>td:last-child {
  text-align: right;
  padding-right: 16px;
}

.cart>tbody>tr:last-child {
    font-weight: bold;
}

.cart>tbody>tr:last-child>td {
    border-top-width: 2px;
}

.cart>tbody>tr>td:last-child::after {
    padding-left: 1px;
}

.faktura {display: none;}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}